{%extends 'layout.html'%}
{%block content%}
<div class="container-fluid d-grid">
    <h1
      id="about-us-title"
      class="mx-auto mt-2 mb-5 fw-bold border-bottom border-danger"
    >
    You're Not Alone – Contact India's SOS Helpline
    </h1>
    <div class="container-sm mx-auto">
        <ul class="list-group">
            <li class="list-group-item">
                <h4>KIRAN</h4>
                <b>24/7 toll-free helpline: 1800-599-0019</b><br>
                For mental health support in India, the Ministry of Social Justice and Empowerment has launched a helpline that offers immediate assistance to individuals facing mental health challenges, including suicide prevention. <br>
            </li>
            <br>
            <br>
            <li class="list-group-item">
                <h4>iCALL – Free & Confidential Mental Health Support</h4>
                <b>Contact Number: 9152987821</b><br>
                iCALL is a pioneering mental health initiative by the Tata Institute of Social Sciences (TISS), funded primarily by Mariwala Health Initiative (MHI) since 2015. It offers free, confidential, and multilingual support through phone, email, and chat. iCALL provides professional counseling for stress, anxiety, depression, relationship issues, and crisis intervention, including suicide prevention. The service is available to anyone in need, ensuring mental health care is accessible and inclusive. <br>
                <a class="link-info text-decoration-none" href="https://icallhelpline.org/" target="_blank">https://icallhelpline.org/</a><br>
            </li>       
        </ul>
    </div>
</div>
{%endblock content%}